Part-I

In [ ]:
import pandas as pd
import numpy as np
dataset=pd.read_csv('AWCustomers.csv')
dataset.head()

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [ ]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None

In [ ]:
selected_columns = ['CustomerID','Education', 'Occupation', 'Gender', 'MaritalStatus','HomeOwnerFlag',
                    'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
dataset=dataset[selected_columns]
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Education             18361 non-null  object
 2   Occupation            18361 non-null  object
 3   Gender                18361 non-null  object
 4   MaritalStatus         18361 non-null  object
 5   HomeOwnerFlag         18361 non-null  int64
 6   NumberCarsOwned       18361 non-null  int64
 7   NumberChildrenAtHome  18361 non-null  int64
 8   TotalChildren         18361 non-null  int64
 9   YearlyIncome          18361 non-null  int64
dtypes: int64(6), object(4)
memory usage: 1.4+ MB
None

In [ ]:
dataset.head()

,CustomerID,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,Bachelors,Clerical,M,M,1,3,0,1,81916
1,13249,Partial College,Clerical,M,M,1,2,1,2,81076
2,29350,Bachelors,Clerical,F,S,0,3,0,0,86387
3,13503,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,22803,Partial College,Skilled Manual,M,S,1,1,0,0,51804

Part-II

In [ ]:
print(dataset.isnull())
dataset.isnull().sum()

       CustomerID  Education  Occupation  Gender  MaritalStatus  \
0           False      False       False   False          False
1           False      False       False   False          False
2           False      False       False   False          False
3           False      False       False   False          False
4           False      False       False   False          False
...           ...        ...         ...     ...            ...
18356       False      False       False   False          False
18357       False      False       False   False          False
18358       False      False       False   False          False
18359       False      False       False   False          False
18360       False      False       False   False          False

       HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              False            False                 False          False
1              False            False                 False          False
2              False            False                 False          False
3              False            False                 False          False
4              False            False                 False          False
...              ...              ...                   ...            ...
18356          False            False                 False          False
18357          False            False                 False          False
18358          False            False                 False          False
18359          False            False                 False          False
18360          False            False                 False          False

       YearlyIncome
0             False
1             False
2             False
3             False
4             False
...             ...
18356         False
18357         False
18358         False
18359         False
18360         False

[18361 rows x 10 columns]

CustomerID              0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
dtype: int64

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ratio_columns = ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
scaler = MinMaxScaler()
dataset[ratio_columns] = scaler.fit_transform(dataset[ratio_columns])
dataset.head()

<ipython-input-38-391717eb50c7>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset[ratio_columns] = scaler.fit_transform(dataset[ratio_columns])

,CustomerID,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,21173,Bachelors,Clerical,M,M,1,0.6,0.000000,0.333333,0.496842
1,13249,Partial College,Clerical,M,M,1,0.4,0.333333,0.666667,0.489453
2,29350,Bachelors,Clerical,F,S,0,0.6,0.000000,0.000000,0.536172
3,13503,Partial College,Skilled Manual,M,M,1,0.4,0.333333,0.666667,0.317083
4,22803,Partial College,Skilled Manual,M,S,1,0.2,0.000000,0.000000,0.231958

In [ ]:
bins = 3
labels = ['Low', 'Medium', 'High']
dataset['YearlyIncome'] = pd.cut(dataset['YearlyIncome'], bins=bins, labels=labels)
dataset['NumberCarsOwned'] = pd.cut(dataset['NumberCarsOwned'], bins=bins, labels=labels)
dataset['NumberChildrenAtHome'] = pd.cut(dataset['NumberChildrenAtHome'], bins=bins, labels=labels)
dataset['TotalChildren'] = pd.cut(dataset['TotalChildren'], bins=bins, labels=labels)
print(dataset.head())

   CustomerID        Education      Occupation Gender MaritalStatus  \
0       21173        Bachelors        Clerical      M             M
1       13249  Partial College        Clerical      M             M
2       29350        Bachelors        Clerical      F             S
3       13503  Partial College  Skilled Manual      M             M
4       22803  Partial College  Skilled Manual      M             S

   HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome TotalChildren  \
0              1          Medium                  Low           Low
1              1          Medium                  Low        Medium
2              0          Medium                  Low           Low
3              1          Medium                  Low        Medium
4              1             Low                  Low           Low

  YearlyIncome
0       Medium
1       Medium
2       Medium
3          Low
4          Low

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
cat_columns = ['Education', 'Occupation', 'Gender', 'MaritalStatus',
               'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), cat_columns)], remainder='passthrough')
data_encoded = ct.fit_transform(dataset)
encoded_columns = ct.get_feature_names_out()
dataset = pd.DataFrame(data_encoded, columns=encoded_columns)
print(dataset.head())

   encoder__Education_Bachelors  encoder__Education_Graduate Degree  \
0                           1.0                                 0.0
1                           0.0                                 0.0
2                           1.0                                 0.0
3                           0.0                                 0.0
4                           0.0                                 0.0

   encoder__Education_High School  encoder__Education_Partial College  \
0                             0.0                                 0.0
1                             0.0                                 1.0
2                             0.0                                 0.0
3                             0.0                                 1.0
4                             0.0                                 1.0

   encoder__Education_Partial High School  encoder__Occupation_Clerical  \
0                                     0.0                           1.0
1                                     0.0                           1.0
2                                     0.0                           1.0
3                                     0.0                           0.0
4                                     0.0                           0.0

   encoder__Occupation_Management  encoder__Occupation_Manual  \
0                             0.0                         0.0
1                             0.0                         0.0
2                             0.0                         0.0
3                             0.0                         0.0
4                             0.0                         0.0

   encoder__Occupation_Professional  encoder__Occupation_Skilled Manual  ...  \
0                               0.0                                 0.0  ...
1                               0.0                                 0.0  ...
2                               0.0                                 0.0  ...
3                               0.0                                 1.0  ...
4                               0.0                                 1.0  ...

   encoder__NumberChildrenAtHome_Low  encoder__NumberChildrenAtHome_Medium  \
0                                1.0                                   0.0
1                                1.0                                   0.0
2                                1.0                                   0.0
3                                1.0                                   0.0
4                                1.0                                   0.0

   encoder__TotalChildren_High  encoder__TotalChildren_Low  \
0                          0.0                         1.0
1                          0.0                         0.0
2                          0.0                         1.0
3                          0.0                         0.0
4                          0.0                         1.0

   encoder__TotalChildren_Medium  encoder__YearlyIncome_High  \
0                            0.0                         0.0
1                            1.0                         0.0
2                            0.0                         0.0
3                            1.0                         0.0
4                            0.0                         0.0

   encoder__YearlyIncome_Low  encoder__YearlyIncome_Medium  \
0                        0.0                           1.0
1                        0.0                           1.0
2                        0.0                           1.0
3                        1.0                           0.0
4                        1.0                           0.0

   remainder__CustomerID  remainder__HomeOwnerFlag
0                21173.0                       1.0
1                13249.0                       1.0
2                29350.0                       0.0
3                13503.0                       1.0
4                22803.0                       1.0

[5 rows x 28 columns]

In [ ]:
dataset.head()

,encoder__Education_Bachelors,encoder__Education_Graduate Degree,encoder__Education_High School,encoder__Education_Partial College,encoder__Education_Partial High School,encoder__Occupation_Clerical,encoder__Occupation_Management,encoder__Occupation_Manual,encoder__Occupation_Professional,encoder__Occupation_Skilled Manual,...,encoder__NumberChildrenAtHome_Low,encoder__NumberChildrenAtHome_Medium,encoder__TotalChildren_High,encoder__TotalChildren_Low,encoder__TotalChildren_Medium,encoder__YearlyIncome_High,encoder__YearlyIncome_Low,encoder__YearlyIncome_Medium,remainder__CustomerID,remainder__HomeOwnerFlag
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,21173.0,1.0
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,13249.0,1.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,29350.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,13503.0,1.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,22803.0,1.0

In [ ]:
from scipy.spatial.distance import cosine
from sklearn.metrics import jaccard_score

dfa_encoded_numeric = dataset.apply(pd.to_numeric, errors='coerce')

dfa_encoded_numeric = dataset.fillna(0)

row1=dfa_encoded_numeric.iloc[0]
row2=dfa_encoded_numeric.iloc[1]
binary_row1=(row1 > 0).astype(int)
binary_row2=(row2 > 0).astype(int)

binary_row1_array = binary_row1.to_numpy()
binary_row2_array = binary_row2.to_numpy()

jacc_score = jaccard_score(binary_row1_array, binary_row2_array,average='binary')
cosine_similarity=1-cosine(binary_row1_array,binary_row2_array)
cosine_similarity

0.8

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 28 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   encoder__Education_Bachelors            18361 non-null  float64
 1   encoder__Education_Graduate Degree      18361 non-null  float64
 2   encoder__Education_High School          18361 non-null  float64
 3   encoder__Education_Partial College      18361 non-null  float64
 4   encoder__Education_Partial High School  18361 non-null  float64
 5   encoder__Occupation_Clerical            18361 non-null  float64
 6   encoder__Occupation_Management          18361 non-null  float64
 7   encoder__Occupation_Manual              18361 non-null  float64
 8   encoder__Occupation_Professional        18361 non-null  float64
 9   encoder__Occupation_Skilled Manual      18361 non-null  float64
 10  encoder__Gender_F                       18361 non-null  float64
 11  encoder__Gender_M                       18361 non-null  float64
 12  encoder__MaritalStatus_M                18361 non-null  float64
 13  encoder__MaritalStatus_S                18361 non-null  float64
 14  encoder__NumberCarsOwned_High           18361 non-null  float64
 15  encoder__NumberCarsOwned_Low            18361 non-null  float64
 16  encoder__NumberCarsOwned_Medium         18361 non-null  float64
 17  encoder__NumberChildrenAtHome_High      18361 non-null  float64
 18  encoder__NumberChildrenAtHome_Low       18361 non-null  float64
 19  encoder__NumberChildrenAtHome_Medium    18361 non-null  float64
 20  encoder__TotalChildren_High             18361 non-null  float64
 21  encoder__TotalChildren_Low              18361 non-null  float64
 22  encoder__TotalChildren_Medium           18361 non-null  float64
 23  encoder__YearlyIncome_High              18361 non-null  float64
 24  encoder__YearlyIncome_Low               18361 non-null  float64
 25  encoder__YearlyIncome_Medium            18361 non-null  float64
 26  remainder__CustomerID                   18361 non-null  float64
 27  remainder__HomeOwnerFlag                18361 non-null  float64
dtypes: float64(28)
memory usage: 3.9 MB